@model BookStore.ViewModels.EditorBookViewModel
@{ ViewBag.Title = "Criando um Novo Livro";
    //Layout = "~/Views/Shared/_LayoutNovo.cshtml";
}

<h2>Novo Livro</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="alert alert-danger">
        @Html.ValidationMessage("Mensagem")
    </div>
    @Html.Partial("Partials/EditorBookPartial", Model)
    @Html.EditorFor(x => x.Age)
    <button type="submit" class="btn btn-primary">Criar</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}