@model BookStore.ViewModels.CreateBookViewModel
@{
    ViewBag.Title = "Criando um Novo Livro";
}

@helper MinhaFuncao(string categoria)
{
    <text>Categoria Selecionada @categoria</text>
}

<h2>Novo Livro</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Nome, new { htmlAttributes = new { @class = "form-label" } })
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-label" } })
        @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DataLancamento, new { htmlAttributes = new { @class = "form-label" } })
        @Html.EditorFor(model => model.DataLancamento, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group ">
        @Html.LabelFor(model => model.CategoriaId)
        @Html.DropDownListFor(
                    c => c.CategoriaId,
                    Model.CategoriaOptions,
                    "Selecione a opção...",
                    new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <p>@MinhaFuncao(Model.CategoriaId.ToString())</p>
    <button type="submit" class="btn btn-primary">Submit</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}